@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.hamburger {
  display: none; /* Hide by default on larger screens */
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 35px;
  height: 5px;
  background-color: #c292a1;
  margin: 3px;
}

@media screen and (max-width: 410px) {
  .menu.open {
    margin-left: 28px;
  }
}

@media screen and (max-width: 719px) {
  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 0px;
  }

  .hamburger {
    display: flex;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #c5d6be;
  font-size: 35px;
}

.slick-slider {
  max-width: 500px;
  margin: 0 auto;
}

.slick-dots li button:before {
  color: #c292a1 !important;
}

@media screen and (max-width: 550px) {
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}
